<div class="row">
  <div class="col-md-6 my-3" style="margin: auto">
    <h1 class="text-center">Register User</h1>

    <!-- ngForm wll create object of FormGroup for userForm -->
    <form #userForm="ngForm" (ngSubmit)="createUser(userForm)">
      <!-- ngModelGroup will club username and email under user -->
      <div ngModelGroup="user" #user="ngModelGroup">
        <div class="form-group my-3">
          <!-- email -->
          <label for="email">Email </label>
          <input
            type="text"
            id="email"
            class="form-control"
            name="email"
            ngModel
            required email
          />
          <span class="help-text" 
              *ngIf="userForm.controls['email']?.dirty  && !userForm.controls['email'].valid">
              invalid email
          </span>
        </div>

        <div class="form-group my-3">
          <!-- username -->
          <label for="username">Username </label>
          <input
            type="text"
            id="username"
            class="form-control"
            name="username"
            ngModel
            required
          />
          <span class="help-text" 
              *ngIf="userForm.controls['username']?.touched  && 
                      userForm.controls['username'].errors?.['required']">
               username is required *
          </span>
        </div>
      </div>

      <!-- password -->
      <div class="form-group my-3">
        <label for="password">Password </label>
        <input
          type="text"
          id="password"
          class="form-control"
          name="password"
          ngModel 
          required
        />
        <!-- ngModel will mark inputs as formcontrols and bind it it to ngForm:userForm -->
      </div>

      <!-- confrm password -->
      <div class="form-group my-3">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="text"
          id="confirmPassword"
          class="form-control"
          name="confirmPassword"
          ngModel
          required
        />
      </div>

      <!-- submit and reset  -->
      <button class="btn btn-primary my-3">Submit</button>
      <button class="btn btn-danger mx-3" (click)="resetForm()">Reset</button>

    </form>

   

  </div>
</div>
