

<body>
<!--     
    <app-navbar></app-navbar> -->

    <!-- <app-book></app-book>
    <app-trustee></app-trustee> -->

    <!-- <app-employees-array></app-employees-array> -->
    <!-- <h1 id="title">{{pageTitle}}</h1> -->

    <!-- <app-event-detail></app-event-detail>
    
    <h1>Hello world</h1>

    <div id="flexBox">
        <pent-house></pent-house> 
        <app-welcome></app-welcome>
    </div> 

    <div>
        <app-flat-list></app-flat-list>
        <app-animal-list></app-animal-list>
    </div> -->

</body>

<!-- <greeting>
  <h1>hello world!!</h1>
  <button class="btn btn-default">say hello</button>
  <p>This is a para</p>
</greeting>
<greeting>
  <h1>Amit</h1>
  <button class="btn btn-info">click here to see Amit's details</button>
</greeting>
<greeting>
  <h1>Shalini</h1>
  <button class="btn btn-warning">click here to see Shalini's details</button>
</greeting> -->


<router-outlet></router-outlet>
