<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="margin-top: 30px;">{{ pageTitle }}</a>
    
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/welcome" class="nav-link">Welcome</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/products" class="nav-link">Product List</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">

      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" routerLink="/login">Welcome {{ userName }}</a>
      </li>

      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logOut()" style="cursor: pointer">LogOut</a>
      </li>

      <!-- todo -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo">Todo</a>
      </li>

    </ul>
  </div>
</nav>

<div class="text-center" style="border: 1px solid black; ">
  <h1>MenuComponentInshell</h1>
  <!-- menu has child component: greeting component -->
  <app-greeting></app-greeting>
  <button (click)="greet()" class="mx-3 my-3 text-center">click me</button>
</div>

<ng-template #ref1>hello from ref1</ng-template>


