
<!-- ng content : parent child communication-->
<!-- <app-greeting>
    <h1>snbnbc</h1>
    <button selected class="btn btn-info">selected btn</button>
</app-greeting> -->

<!-- content child, view child: used to get dom content from html to ts file through directives -->
 <!-- content Child can point ngContent but ViewChild cant -->
<!-- <div style="margin: auto; width: 50%;">
    <app-parent></app-parent>
</div> -->

<app-navbar></app-navbar>
<app-menu></app-menu>

<div class="container main-content">
    <router-outlet></router-outlet>
</div>