


h1{
    text-align: center;
    margin: 20px 0;
}
table{
    width: 80%;
    margin: auto;
    font-size: 20px;
}
table, th, td{
    border: 1px solid grey;
}
td, th{
    padding: 10px !important;
}
table img{
    height: 100px;
    width: 100px;
}

#add-btn{
    width: 80%;
    margin: 20px auto;
}