
<!-- string interpolation :- 
    1 way binding from ts file to html 
    helps in displaying dynamic data(data from other fiile or component)
    arithmatic operations can also be performed {{2+1}} {{2*4}}

    new keyword cant be used 
    typeof cant be used : {{typeof name}} will give error
    {{2++}} will give error

-->

<header>

    <a routerLink="/"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="/tdform"  routerLinkActive="active">TemplateForm</a>
    <a [routerLink]="['/rform']" routerLinkActive="active">ReactiveForm</a>

</header>

<router-outlet></router-outlet>


<!-- <app-r-form></app-r-form> -->

<!-- <app-td-form></app-td-form> -->

<!-- <h1 class="{{title}}" id="{{title}}">Hello {{name}}</h1>
<h1>Arithmatic operations :: {{2+2}} </h1>
<h1>If Else :: {{name === "Manvi" ? 'name is equal to Manvi': 'name is not equal to Manvi'}}</h1>

<div>
    <app-product-list (emitProduct)="receiveEmittedProduct($event)"></app-product-list>
</div>

<div>
    <app-cart-list [cartList]="cartProducts"></app-cart-list>
</div> -->