
<div class="card">
  <div class="card-header">To Do List</div>
 
  <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)" class="text-center">
    <input type="text" name="todo" id="todo" #todo="ngModel" ngModel />
    <input type="submit" value="Add ToDo" />
  </form>

  <ol>
    <div *ngFor="let todo of allTodos$ | async; let i = index" id="todos">
      <li>
        <span> {{ i+1 }}. {{ todo.content }}</span>
        <span (click)="removeTodo(todo)" class="btn btn-danger">del</span>
      </li>
    </div>
  </ol>
</div>
